@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:opsz,wght@14..32,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-background: #ffffff;
  --color-foreground: #1a1a1a;
  --color-primary: #06402b;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f0f4f2;
  --color-secondary-foreground: #06402b;
  --color-accent: #d2c5b3;
  --color-accent-foreground: #1a1a1a;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-border: #e4e4e7;
  --color-green-light: #e6eee9;

  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: var(--font-serif);
}

/* Hide scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
